@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 25em;
    margin: 2em auto;
    background: #fff;
    padding: 2em;
    padding-top: 1px;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.col-2 {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 5%;
    padding-left: 60px;
}

.resultado {
    position: relative;
    background-color: #30cff7;
    max-width: 20em;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

.erro {
    background-color: red;
}

footer {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

footer a {
    color: white;
    text-decoration: none;

}

